h3 {{contacts.length}} contacts

div(ng-repeat='contact in contacts')
  ul.contact-line
    li
      a.name(href='/detail/{{contact.id}}') {{contact.name}}
    li
      {{contact.familiarity}}
    span(ng-repeat='(key, value) in contact')
      li
        {{key}}: {{value}}
    li
      a(href='/edit/{{contact.id}}') Edit
    li
      a(href='/delete/{{contact.id}}') Delete
