h3 {{contacts.length}} contacts

div(ng-repeat='contact in contacts')
  ul.contact-line
    span(ng-repeat='(key, value) in contact')
      li
        {{key}}: {{value}}
    li
      a(href='/detail/{{contact.id}}') More
    li
      a(href='/edit/{{contact.id}}') Edit
    li
    a(href='/delete/{{contact.id}}') Delete