h3 {{contacts.length}} contacts

div
  | Filter: 
  input.filter(ng-model='query')

div
  ul.contacts
    li.contact-line(ng-repeat='contact in contacts | filter:query')
      div.contact-card
        {{contact.name}}
        {{contact.familiarity}}
        div.detail
          {{contact.events}}
